/* color variables for easier use */
:root {
    --gray: #ececf1e3;
    --black: #000000;  
    --yellow: #f1d177;
    --purple: #581c58; 
}

/* set default for page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--purple)
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    background-color: var(--gray);
}

/* header styling */
header {
    padding: 20px 35px 20px 0;
    background-color: var(--yellow);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    /* 4vw means viewing width - will adj for size of screen */
    font-size: 4vw;
    color: var(--yellow);
    margin: 0;
    background-color: var(--purple);
    padding: 5px 1% 5px 6%;
}

header h1 a:visited {
    color: var(--yellow);
}

header a {
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

header nav a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.4rem;
    color: var(--purple);
    text-decoration: underline;
    transition: all 0.25s ease-in;
}

header nav a:hover {
    background: var(--purple);
    background-size: 100% 100%;
    color: var(--yellow);
    text-shadow: none;
}

/* hero styling */
.hero {
    background-image: url("../images/birch.jpg");
    background-color: var(--yellow);
    height: 450px;
    width:100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

.hero img {
    padding: 0;
    border: var(--purple) solid 5px;
    margin-left: 2%;
}

.hero div {
    flex: 0 0 50%;
}

.hero h2 {
  margin-right: 0;
  padding: 5px 10px;
  color: var(--purple);
  background-color: var(--yellow);
  display: inline;
}

/* this includes the 3 headings and the about me text */
.page-section {
    

    
    
    

}

/* this only effects the headings and the area's around them */
.page-section > h2 {
    text-align: center;
    border-right: var(--purple) solid 5px;
    padding-right: 40px;
    font-size: 32px;
    min-height: 100%;
    min-width: 20%;
    max-width: 20%;
    
}

.page-section div {
    flex: 0 0 77%;
}

.page-section p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    text-align: justify;
    
}


/* This seems to only effect run buddy box */
.work-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    border: solid white 5px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    flex-basis: 90%;
}


.work-text:first-child {


}

.work-text:hover {
    opacity: 1.0;
}

.work-text div {
    display: flex;
    padding: 5px;
    color: var(--purple);
    background-color: var(--yellow);
    margin: 10% auto;
    text-align: center;
}

.work-text h4 {
font-weight: bold;
}

/* This effects the 4 containers - justify content R moves all to right margin*/
 .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 20%;    
}

#about, #work, #contact {
    display: flex;
    padding: 60px;
    flex-flow: nowrap column;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
} 



.run-buddy {
    background-image: url("../images/hero-bg.jpg");
    margin:7px;
    background-color: var(--yellow);
    height: 450px;
    width:95%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    position: relative;
    font-size: 18px;
}

.surf {
    background-image: url("../images/surf.jpg");
}

.led {
    background-image: url("../images/led.jpg");   
}

.robot {
    background-image: url("../images/robot.jpg");   
}

.pastel {
    background-image: url("../images/pastel.jpg");
}

.contact-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;   
}


/* media queries */

@media screen and (max-width: 980px) {
    /*header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }*/
    
    /*header h1 {
        width: 100%;
        text-align: center;
    }*/
       
    header nav a {
        margin-top: 20px;
        width: 100%;
        /*justify-content: center;*/
        font-size: 20px;
    }
       
    .hero-img, .hero div {
        width: 100%

    }
}

.@media screen and (max-width: 768px) {
    .page-section > h2 {
        font-size: 24px;
    }

    .contact-links {
        font-size: 20px;
    }
}



