:root {
    --red: #070101ea;
    --gray: #ececf1e3;
    --black: #000000;  
    --yellow: #fceb07;
      
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px 20px 0;
    background-color: var(--yellow);
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--yellow);
    margin: 0;
    background-color: var(--black);
    padding: 20px;
    width: 40%;
    margin: 0;
    border: none;
    text-align: end;  
    background-attachment: fixed;
}

header h1 a:visited {
    color: var(--yellow);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(----red);
    text-decoration: underline;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    background-color: var(--gray);
    
}